<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#http://localhost:4200/home">BIDS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      </ul>
      <ng-template [ngIf]='!user.userExists()'>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
      </ul>
    </ng-template>
    <ng-template [ngIf]='user.userExists()'>
      <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.getUser()}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="manage/myoffers"  routerLinkActive="active">My Offers</a></li>
            <li><a routerLink="manage/makeoffer"  routerLinkActive="active">Make an Offer</a></li>
            <li><a routerLink="manage/inbox"  routerLinkActive="active">Inbox</a></li>
          </ul>
        </li>
        <li><a routerLink="/logout" routerLinkActive="active" (click) = "user.clearToken()">Logout</a></li>
      </ul>
    </ng-template>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>